{
    "presets": [
        [
            "@babel/preset-env",
            {
                "loose": true,
                "modules": false
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-syntax-jsx",
        [
            "babel-plugin-inferno",
            {
                "imports": true
            }
        ]
    ]
}
