<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>XummHub Prototype</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="/static/theme/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/static/theme/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/static/theme/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/static/theme/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/static/theme/img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="/static/theme/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/theme/css/style.css" rel="stylesheet">
	<link href="/static/theme/css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
	<link href="/static/theme/mycss/customize.css" rel="stylesheet">

	<link rel="stylesheet" href="/static/css/app.css">
	<script src="https://xumm.app/assets/cdn/xumm.min.js"></script>

	<script src="/static/inferno/bundle.js"></script>
	<script>
		window.API_XUMM_KEY = "{{API_XUMM_KEY}}"
	</script>
	<script src="/static/js/xumm_sign.js" defer></script>
	<!-- Cloudflare Web Analytics -->
	<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "16f295ee874b458d80608bbc79df6f20"}'></script>
	<!-- End Cloudflare Web Analytics -->

</head>
<body>
</body>
</html>