<html>
<head>
	<title>Inferno Boilerplate</title>
	<link rel="stylesheet" href="/static/css/app.css">
	<link rel="stylesheet" href="https://use.typekit.net/vtt7ckl.css">
	<script src="https://xumm.app/assets/cdn/xumm.min.js"></script>
	<script>
		var theme = ((new URLSearchParams(document.location.href))
					 .get('xAppStyle') || 'light').toLowerCase()
		var link = document.createElement('link')
		link.href = 'https://xumm.app/assets/themes/xapp/xumm-'
		  + theme + '/bootstrap.min.css'
		link.type = 'text/css'
		link.rel = 'stylesheet'
		document.getElementsByTagName('head')[0].appendChild(link)
	</script>

	<script src="/static/inferno/bundle.js"></script>
	<script src="/static/js/xumm_sign.js" defer></script>
</head>
<body>

	<h1 id="accountaddress">...</h1>
	
	<button id="signinbutton" class="btn btn-dark" onclick="xumm.authorize()">Login</button>
    <button id="logoutbutton" class="btn btn-dark" onclick="xumm.logout()">Logout</button>

	<div id="app"></div>
	
</body>
</html>