

#launch_project_container {
    background-color: cornsilk;
}
 
#launch_project_container .startup_bg {
    background-image: url(/myversion/myimg/business_startup.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 827px;
    background-position-y: 41px;
    background-position-x: -217px;
}
